body {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0;
}


/* reset */



.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
.header {
  grid-area: header;
  background: olivedrab;
  padding: 15px;
  display: grid;
  
  grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 800px) 1fr;
  align-items: center;
}
.header-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: slateblue;
  grid-column: 2/3;
}
.header-menu {
  grid-column: 3/4;
}
.header-list {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
.header-item {
}
.heder-link {
}
.heder-burger {
}
.main {
 padding: 30px 15px;
}



.aside {
 
  background: cornflowerblue;
  padding: 20px 15px;
  margin: 0 0 30px 0;
}
.main-list {
}
.main-list li{
  margin: 0 0 15px 0;
}
.main-item {
}
.main-link {
}



.content {
  
}
.content-title {
}
.content-galery {
margin: 0 0 30px 0;  
}

@media (min-width: 640px) {
  
  .main{ grid-area: main;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 800px) 1fr;}

  .aside {
  grid-column: 2/3;
  margin: 0;
  
}
.content {
  grid-column: 3/4;
  padding: 0 0 0 30px;
}
 
}

@media (max-width: 640px) {
  .header-list{
    display: none;
  }
  
}

.galery {
}
.galery-title {
}
.galery-items {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
}
.galery-item {
  position: relative; 
  padding: 0 0 80% 0;
}
.galery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galery-item-big{
  /* grid-column: span 2;
  grid-row: span 2; */
}

@media (min-width: 408px){
.galery-item-big{
  grid-column: span 2;
  grid-row: span 2;
}

.footer-copy {
      grid-column: 2/3;
}
.footer-text {
  grid-column: 3/4;
  text-align: right;
}
}

.content-product {
}
.product {
}
.product-title {
}
.product-items {
  display: grid;
  column-gap: 30px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 1fr;
}
.product-item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40px, auto) / 1fr;
 
}
.product-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-images {
   position: relative;
  padding: 0 0 90px 0;
  margin: 0 0 20px 0;
}
.product-name {
  margin: 0 0 16px 0;
}
.product-btn {
  color: aliceblue;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 40px;
  justify-self: start;
  background-color: darkslategrey;
  padding: 0 20px; 
}
.footer {
  background: skyblue;
  display: grid;
  grid-area: footer;
  padding: 15px;
  grid-template: grid-template: 1fr/1fr minmax(auto, 200px) minmax(auto, 800px) 1fr;
  align-items: center;

}
.footer-copy {
      /* grid-column: 2/3; */
}
.footer-text {
  /* grid-column: 3/4;
  text-align: right; */
}

@media (max-width: 408px) {
.footer {
  grid-template: 1fr 1fr / 1fr;
  text-align: center;

}
.footer-copy {
      order: 2;
}
.footer-text {
  order: 1;
  
}
  
}